HELP.md
.DS_Store
.gradle
build/
/test/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

# Yarn v2
**/.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
node_modules/
dist/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### No Redis Configuration ###
!**/RedisConfiguration.kt

### Jetbrains Fleet ###
.fleet/

.syncd